body{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	background-color: black;
}

#root{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	background-color: black;
}

.counter{
	background-color: rgb(246, 246, 142);
	height: 200px;
	width: 400px;
	text-align: center;
	font-weight: 600;
	border-radius: 1rem;
	border: 2px solid black;
}

button{
	height: 2rem;
	width: 8rem;
	margin-left: 1rem;
	font-size: medium;
	font-weight: 700;
	margin-top: 1.5rem;
	border: solid black 2px;
	border-radius: 10px;
	background-color: orange;
}

button:hover{
	background-color: rgb(244, 181, 63);
}