body{
	height: 100vh;
	width: 100vw;
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#root{
	width: 800px;
	padding: 2rem;
	background-color: rgb(230, 90, 111);
	text-align: center;
	border-radius: 1rem;
}

.attributes{
	font-size: x-large;
}

.attributes > [type="checkbox"]{
	margin-left: 2rem;
}

label{
	margin-left: 5px;
}