body{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	background-color: rgb(21, 19, 19);
}

#header{
	position:sticky;
	top: 0;
	height: 100px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: large;
	background-color: rgb(40, 40, 40);
	color: white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.profiles{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 2rem;
	margin-top: 50px;
	margin-bottom: 50px;
}

.cards{
	height: 420px;
	width: 300px;
	text-align: center;
	background-color: rgb(40, 39, 39);
	border-radius: 1rem;
	border: 2px solid rgb(50, 50, 50);
}

h2{
	color: yellow;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

img{
	margin-top: 1.5rem;
	height: 250px;
	width: 250px;
	border-radius: 50%;
	border: 2px solid rgb(244, 239, 84);
}

.anchor{
	font-size: x-large;
	color: bisque;
}

.search-bar{
	display: flex;
	justify-content: center;
	align-items: center;
}

input{
	position: relative;
	top: 22px;
	height: 2rem;
	width: 250px;
	text-align: center;
	border-radius: 5px;
	font-weight: 700;
	font-size: larger;
}

button{
	position: relative;
	top: 22px;
	height: 2.2rem;
	width: 120px;
	margin-left: 10px;
	background-color:  yellow;
	border: 2px solid black;
	border-radius: 10px;
	font-size: large;
	font-weight: 600;
}
